<Swiper
  @loop={{false}}
  @speed={{400}}
  @spaceBetween={{100}}
  @scrollbar={{hash el='.swiper-scrollbar' hide=true}}
  @on={{hash slideChange=this.slideChange}} as |swiper|
>
  <swiper.slide>
    Slide 1
  </swiper.slide>
  <swiper.slide>
    Slide 2
  </swiper.slide>
  <swiper.slide>
    Slide 3
  </swiper.slide>
  <swiper.scrollbar />
  <swiper.header>
    <div>
      Header
    </div>
  </swiper.header>
  <swiper.footer>
    <div>
      Footer
    </div>
  </swiper.footer>
</Swiper>